/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type="radio"] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}
sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}

/*for all*/
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 74%;
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header .wrapper {
  width: 90%;
}
/*=================================
  main header styling starts here
=================================*/
.main-header-container {
  background-color: #ebe9eb;
}

.main-header {
  padding: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 4rem;
}

.logo > a {
  display: flex;
  align-items: center;
  color: #757076;
  font-size: 17px;
  font-weight: 600;
}
.logo a::before {
  color: #757076;
  font-family: "FontAwesome";
  float: left;
  text-indent: 0;
}

.microsoft::before {
  content: "\f3ca";
  padding-right: 7px;
  font-size: 24px;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 14rem;
  transition: all 0.3s;
}

.header-nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 3.5rem;
  transition: all 0.3s;
}

.header-nav a {
  color: #333436;
  font-size: 17px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  text-indent: -9999px;
  height: 3px;
  background-color: #a4a6a5;
  margin: 5px;
  width: 25px;
  transition: all 0.5s ease-out;
}

.uppercase {
  text-transform: uppercase;
}

.dropdown-container a {
  display: flex;
  align-items: center;
}
.dropdown-container a::after {
  color: #a4a6a5;
  font-family: "FontAwesome";
  float: right;
  text-indent: 0;
}

.dropdown::after {
  content: "\f107";
  padding-left: 6px;
  font-size: 10px;
}

.cart-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 90.5%;
}

.cart-search a {
  text-indent: -9999px;
}
.cart-search a::before {
  color: #a4a6a5;
  font-family: "FontAwesome";
  float: left;
  text-indent: 0;
}

.search::before {
  content: "\f002";
  font-size: 18px;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
}

.shop::before {
  content: "\f07a";
  font-size: 18px;
}
/*=================================
  main header styling ends here
=================================*/
/*=================================
  sub header styling starts here
=================================*/
.sub-header-container {
  background-color: #2f59a8;
}

.sub-header-container a {
  color: #b9cdd9;
}

.sub-header {
  padding: 19px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 4rem;
}

.sub-logo > a {
  font-size: 21px;
}
/*=================================
  sub header styling ends here
=================================*/
/*=================================
  Header styling ends here
=================================*/
/*=================================
main styling starts here
=================================*/
/*=================================
banner section styling starts here
=================================*/
.banner-section {
  padding-bottom: 94px;
  background: url("https://dummyimage.com/1350x525/4d444d/4f505e");
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-top .wrapper {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-box {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  background-color: #e3e0e8;
}
.nav-box a {
  color: #333436;
  font-size: 12px;
}

.dropright-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dropdown-container a::after {
  color: #a4a6a5;
  font-family: "FontAwesome";
}

/* .dropright::before {
  content: "\f105";
  padding: 0 12px;
  font-size: inherit;
} */

.sales-box {
  padding: 9px 10px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  position: absolute;
  right: 0;
  background-color: #000;
}

.sales-box a {
  color: #fff;
}

.sales-phone,
.sales-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.sales-phone a::before,
.sales-mail a::before {
  font-family: "FontAwesome";
  float: left;
  text-indent: 0;
}

.phone::before {
  content: "\f095";
  padding-right: 5px;
  font-size: 20px;
}

.mail::before {
  content: "\f0e0";
  padding-right: 5px;
  font-size: 20px;
}

.banner-bottom {
  margin-top: 60px;
  color: #dce2eb;
}

.main-heading {
  color: #2d2f32;
  font-size: 28px;
}

.banner-bottom .main-heading {
  color: #dce2eb;
}

.banner-para {
  max-width: 50%;
  margin-top: 26px;
  font-size: 16px;
}

.banner-name {
  margin: 24px 0;
  font-size: 14px;
}

.banner-name > p::before {
  color: #a4a6a5;
  font-family: "FontAwesome";
  float: left;
  text-indent: 0;
}

.hyphen::before {
  content: "\2d";
  padding-right: 5px;
  font-size: 14px;
}

.video-btn {
  width: 15%;
  padding: 10px;
  border: 2px solid #e9e9ea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.video-btn a {
  color: #e9e9ea;
}
.video-btn a::after {
  color: #e9e9ea;
  font-family: "FontAwesome";
  text-indent: 0;
}

.video-play {
  display: flex;
  align-items: center;
  justify-content: center;
}
.video-play::after {
  content: "\f144";
  padding-left: 10px;
  font-size: 48px;
}
/*=================================
banner section styling ends here
=================================*/
/*=================================
digital section styling starts here
=================================*/
.digital-section {
  padding: 84px 0;
  background-color: #dedfe3;
}

.digital-description-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5.75%;
}

.digital-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 26px;
}

.digital-para {
  max-width: 57.75%;
  color: #2d2d31;
  font-size: 14px;
  word-wrap: break-word;
}

.link-container {
  max-width: 64.75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* -ms-flex-wrap: wrap; */
  /* flex-wrap: wrap; */
}
.link-container a {
  color: #415877;
}

.link-container a::after {
  color: #a4a6a5;
  font-family: "FontAwesome";
}

.dropright::after {
  content: "\f105";
  padding: 0 8px;
  font-size: inherit;
}
/*=================================
digital section styling ends here
=================================*/
/*=================================
product section styling starts here
=================================*/
.product-section {
  padding: 86px 0 80px;
  background-color: #ebe9eb;
}

.product-para {
  margin: 26px 0 20px;
  color: #2d2d31;
  font-size: 14px;
}

.product-container {
  padding: 26px 0 36px;
  border: 1px solid #ccc9cc;
  border-style: solid none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px 20px 1fr 20px 300px;
  grid-template-columns: 60px 1fr 300px;
  gap: 20px;
}

.product-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 28px;
}

.product-description-para {
  max-width: 80%;
}

.product-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.product-link > a {
  color: #415877;
}
.product-link a::after {
  color: #a4a6a5;
  font-family: "FontAwesome";
  float: right;
  text-indent: 0;
}

.product-image {
  justify-self: flex-end;
}
/*=================================
product section styling ends here
=================================*/
/*=================================
resources section styling starts here
=================================*/
.resources-section {
  padding: 76px 0;
  background-color: #dedfe3;
}

.resources-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.resources-icon-container p::before {
  color: #a4a6a5;
  font-family: "FontAwesome";
  float: left;
  text-indent: 0;
}

.resource::before {
  content: "\f1e1";
  padding-right: 6px;
  font-size: 22px;
}

.resources-container {
  padding: 30px 0;
  border: 1px solid #ccc9cc;
  border-style: solid none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16%;
}

.resource-detail {
  max-width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 26px;
}

.resource-detail:first-child {
  gap: 22px;
}

.resource-blogger {
  color: #2d2f32;
  font-size: 16px;
}

.resource-date,
.resource-para {
  color: #2d2d31;
  font-size: 14px;
}

.resource-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.resource-link a {
  color: #2f59a8;
}
.resource-link a::after {
  color: #a4a6a5;
  font-family: "FontAwesome";
  float: right;
  text-indent: 0;
}

.all-blogs-btn {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.all-blogs-btn > a {
  padding: 14px 16px;
  background-color: #2e59a8;
  color: #e9e9ea;
}
/*=================================
resources section styling ends here
=================================*/
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/
.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.digital-download {
  width: 50%;
  padding: 62px 0 80px;
  background-color: #356ac5;
}
.digital-download > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 22px;
}

.footer-icon-container {
  min-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer-icon-container > a {
  color: #dce2eb;
}
.footer-icon-container a::before {
  color: #dce2eb;
  font-family: "FontAwesome";
  float: left;
  text-indent: 0;
}

.download::before {
  content: "\f063";
  padding-right: 14px;
  font-size: 24px;
}

.digital-radio::before {
  content: "\f566";
  padding-right: 14px;
  font-size: 24px;
}

.back::before {
  content: "\f104";
  padding-right: 14px;
  font-size: 24px;
}

.sales-support {
  width: 50%;
  padding: 62px 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 22px;
  background-color: #13204a;
}

.sales-container,
.support-container {
  min-width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.sales-container > a,
.support-container > a {
  color: #dce2eb;
}
.sales-container a::before,
.support-container a::before {
  color: #dce2eb;
  font-family: "FontAwesome";
  float: left;
  text-indent: 0;
}

.footer-mid {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 14px;
  background-color: #524d53;
}
.footer-mid span {
  color: #e9e9ea;
  font-weight: 600;
}
.submenu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-indent: -9999px;
}
.submenu a::before {
  color: #a4a6a5;
  font-family: "FontAwesome";
  float: left;
  text-indent: 0;
}

.footer-mid > .submenu a::before {
  color: #e9e9ea;
}

.facebook::before {
  content: "\f082";
  margin-right: 8px;
  font-size: 34px;
}

.twitter::before {
  content: "\f099";
  margin-right: 8px;
  font-size: 34px;
}

.linkedin::before {
  content: "\f0e1";
  margin-right: 8px;
  font-size: 34px;
}

.youtube::before {
  content: "\f167";
  margin-right: 8px;
  font-size: 34px;
}

.footer-bottom {
  width: 100%;
  padding: 42px 0;
  background-color: #e2dde3;
}
.footer-bottom .wrapper {
  width: 90%;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.bottom-heading {
  margin-bottom: 18px;
}

.blog-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 24px;
}

.blog-links a {
  color: #524d53;
  font-size: 12px;
}

.footer-nav {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.country-language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.country-language a {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #524d53;
  font-size: 12px;
}
.country-language a::before {
  color: #524d53;
  font-family: "FontAwesome";
  float: left;
  text-indent: 0;
}

.earth::before {
  content: "\f57d";
  padding-right: 10px;
  font-size: 20px;
}

.footer-nav-links > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.footer-nav-links a {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #524d53;
  font-size: 12px;
}
/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query for 320px starts here*/
@media only screen and (max-width: 320px) {
}

/*media query for 375px starts here*/
@media only screen and (max-width: 375px) {
}

/*media query for 480px starts here*/
@media only screen and (max-width: 480px) {
  html {
    width: 50%;
  }
}

/*media query for 560px starts here*/
@media only screen and (max-width: 560px) {
}

/*media query for 640px starts here*/
@media only screen and (max-width: 640px) {
}

/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {
  html {
    width: 65%;
  }
}

/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
}

/*media query for 1024px starts here*/
@media only screen and (max-width: 1024px) {
}

/*media query for 1280px starts here*/
@media only screen and (max-width: 1280px) {
  /* main heading and sub heading */
  .main-header {
    align-items: flex-start;
  }

  .header-nav,
  .sub-header {
    align-items: flex-start;
  }

  .header-nav-links {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-nav-links {
    height: 0;
    position: relative;
    top: 50px;
    opacity: 0;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .footer-container {
    flex-direction: column;
    gap: 26px;
  }

  .footer-nav {
    flex-direction: column;
    gap: 12px;
  }

  .footer-nav-links > ul {
    flex-direction: column;
  }
}

/*media query for 1366px starts here*/
@media only screen and (max-width: 1366px) {
}

/*media query for 1440px starts here*/
@media only screen and (max-width: 1440px) {
}

/*media query for 1920px starts here*/
@media only screen and (max-width: 1920px) {
}
